h1
{
color: purple;
font-family: Arial;
font-size: xx-large;
text-align: center;
border: 3px blue outset;
background-image: url(gy.gif);

}

#welcome
{
	color: white;
box-shadow: 4px 4px 4px black
font-size: large;
font-family: "Arial Black"

}

h3
{
	color: black
	font-size: xx-large;
	font-family: Arial;
	text-align: center;
	border: 2px blue inset;
	background-image: url(gy.gif);
}

p
{
	text-align: center;
}

body
{
	color: white;
	background-image: url(az.jpeg);
	background-attachment: scroll;
	font-family: Times New Roman;
	font-size: xx-large;


}

#lap
{
color: white;
text-align: center;
}

ul
{
	color: white;
	font-size: large;
	text-align: center;
}

.pal
{
	color: white;
}

img
{
	text-align: center;
}

a
{
	color: white;
}

#pml
{
	color: white;
	border-color: white;
	text-align: center;
}

#pol
{
	font-size: xx-large;
	color: white;
}


label
{
	text-align: center;
}